h1 {
  font-family: "Messina", sans-serif;
  background-color: orange;
}

h2 {
  font-family: "Messina", sans-serif;
  font-size: 30;
  text-align: center;
}

body {
  background-color: #AEFAF7
}

.containerSide {
  display: flex;
  color: white;
  font-size: 40px;
  border-radius: 30px;
}

.containerSide > div {
  flex: 1;
}

div2 {
  width: 500px;
  height: 500px;
  border: 1px solid blue;
  box-sizing: border-box;
}

div2 {
  background-image: url("https://c.tenor.com/6MsukwHKJ58AAAAC/ara-anime.gif");
}

gif {
  border-radius: 30px;
  border-width: 5px;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border-width: 3px;
}

h3 {
  font-family: "Messina", sans-serif;
  font-size: 18;
  text-align: center;
}

.simonBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simon {
  display: inline;
  min-width: 100px;
  max-width: 100px;
}

.red {
  background-color: rgb(255,0,0);
  border-color: rgb(168,7,2);
}

.green {
  background-color: rgb(43, 219, 15);
  border-color: rgb(71,168,2);
}

.blue {
  background-color: rgb(44, 91, 245);
  border-color: rgb(0,56,153);
}

.yellow {
  background-color: rgb(208, 255, 0);
  border-color: rgb(193,196,0);
}

.redBlink {
  background-color: rgb(250,110,115);
}

.greenBlink {
  background-color: rgb(161,255,138);
}

.blueBlink {
  background-color: rgb(138,192,255);
}

.yellowBlink {
  background-color: rgb(246,255,179);
}

#playButton:hover {
  cursor: pointer;
}
